html, body {
  height: 100%;
  width: 100%;
  background-color: rgb(26, 24, 24);
    
}

.button{
  width: 60px;
  padding: 11px;
  margin: 2px 3px;
  border: 2px solid rgb(30, 30, 30);
  border-radius: 9px;
  font-size: x-large;
  font-weight: bold;
  font-style: oblique;
  cursor: pointer;
  background-color: rgb(137, 137, 137);
  text-align: center;
    
}
.button:hover {
  background-color: #fe8a0e;
  color: white;
}
  
.container{
  align-items: center;
  max-width: 319px;
  max-height: 600px;
  border-radius: 1em;
}
.equal{
  background-color: #fe8a0e;
}
.row{
  margin: 8px 0;
}
.row input{
  width: 291px;
  font-size: 20px;
  margin: 0;
  padding: 10px 0px;
  border: 2px solid black;
  border-radius: 5px;
}
.text-center{
  text-align: center;
}
input{
  text-align: right;
}
.bg-red{
  background-color: rgb(35, 35, 35);
}
  
.mx-auto{
  margin: auto;
}
  
.flex{
  display:flex;
} 
.flex-col{
  flex-direction: column;
}
  
.items-center{
  align-items: center;
}
footer{
  color: azure;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}